body {
  text-align: center;
}

h1 {
  text-align: center;
  font-family: optima, sans-serif;
  font-size: 20px;
  color: gray;
}

video{
  float: left;
  width: 30%;
  padding: 15px;
}

button {
  text-align: center;
  float: center;
  font-family: optima, sans-serif;
}
